In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing

In [56]:

data=pd.read_csv('BTC-USD.csv',parse_dates=["Date"],sep=',')

#convert dates from string to datetime objects
data["Date"]=pd.to_datetime(data["Date"])

#keep only the date part of datetime object
data["Date"]=data["Date"].dt.date

#drop the nan values
data.isna().sum()
data.dropna(axis=0,how='any',inplace=True)
data.isna().sum()


#change volume to integer
#data["Volume"]=data["Volume"].astype('int64')


data.shape

(1823, 7)

# Preprocessing

### Testing for multicollinearity
Running the cell we see the close relationship btw Close and Adj Close

In [60]:
prepro=preprocessing.MinMaxScaler()
data_float=data.loc[:, data.dtypes=='float64']
data_scaled=pd.DataFrame(prepro.fit_transform(data_float), index=data_float.index,columns=data_float.columns)
data_scaled

          Open      High       Low     Close  Adj Close    Volume
0     0.000082  0.000103  0.000338  0.000042   0.000042  0.000060
1     0.000072  0.000009  0.000321  0.000056   0.000056  0.000044
2     0.000073  0.000000  0.000336  0.000005   0.000005  0.000060
3     0.000057  0.000053  0.000354  0.000107   0.000107  0.000066
4     0.000150  0.000163  0.000444  0.000196   0.000196  0.000053
...        ...       ...       ...       ...        ...       ...
1822  0.743920  0.735437  0.710121  0.702126   0.702126  0.084190
1823  0.701869  0.723940  0.705021  0.695706   0.695706  0.088073
1824  0.696215  0.715749  0.703782  0.727436   0.727436  0.073282
1825  0.727518  0.734374  0.730958  0.738453   0.738453  0.062349
1826  0.739715  0.726260  0.719734  0.706875   0.706875  0.068970

[1823 rows x 6 columns]

##### This relationship is also verified by this:

In [64]:
data_duplicate=data_scaled.T.duplicated()
data_duplicate

#drop tha adj close column
data_scaled.drop("Adj Close",axis=1)
data_scaled

          Open      High       Low     Close  Adj Close    Volume
0     0.000082  0.000103  0.000338  0.000042   0.000042  0.000060
1     0.000072  0.000009  0.000321  0.000056   0.000056  0.000044
2     0.000073  0.000000  0.000336  0.000005   0.000005  0.000060
3     0.000057  0.000053  0.000354  0.000107   0.000107  0.000066
4     0.000150  0.000163  0.000444  0.000196   0.000196  0.000053
...        ...       ...       ...       ...        ...       ...
1822  0.743920  0.735437  0.710121  0.702126   0.702126  0.084190
1823  0.701869  0.723940  0.705021  0.695706   0.695706  0.088073
1824  0.696215  0.715749  0.703782  0.727436   0.727436  0.073282
1825  0.727518  0.734374  0.730958  0.738453   0.738453  0.062349
1826  0.739715  0.726260  0.719734  0.706875   0.706875  0.068970

[1823 rows x 6 columns]