In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing

In [56]:

data=pd.read_csv('BTC-USD.csv',parse_dates=["Date"],sep=',')

#convert dates from string to datetime objects
data["Date"]=pd.to_datetime(data["Date"])

#keep only the date part of datetime object
data["Date"]=data["Date"].dt.date

#drop the nan values
data.isna().sum()
data.dropna(axis=0,how='any',inplace=True)
data.isna().sum()


#change volume to integer
#data["Volume"]=data["Volume"].astype('int64')


data.shape

(1823, 7)

# Preprocessing

### Testing for multicollinearity
Running the cell we see the close relationship btw Close and Adj Close

Add a dummy variable for time

In [71]:
data['Time_dummy']=np.arange(len(data.index))
data['Time_dummy']=data['Time_dummy'].astype('float64')
data.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Time_dummy
0,2016-12-13,780.646973,788.460022,777.961975,780.556030,780.556030,81645600.0,0.0
1,2016-12-14,780.005005,782.033997,776.838989,781.481018,781.481018,75979000.0,1.0
2,2016-12-15,780.070007,781.434998,777.802002,778.088013,778.088013,81580096.0,2.0
3,2016-12-16,778.963013,785.031982,778.963013,784.906982,784.906982,83608200.0,3.0
4,2016-12-17,785.166016,792.508972,784.864014,790.828979,790.828979,78989800.0,4.0
5,2016-12-18,791.007996,794.737000,788.026001,790.530029,790.530029,60524400.0,5.0
6,2016-12-19,790.692017,793.611023,790.320007,792.713989,792.713989,74886400.0,6.0
7,2016-12-20,792.247009,801.336975,791.497009,800.875977,800.875977,99629296.0,7.0
8,2016-12-21,800.643982,834.281006,799.405029,834.281006,834.281006,155576000.0,8.0
9,2016-12-22,834.179993,875.781982,834.148987,864.539978,864.539978,200027008.0,9.0

In [72]:
prepro=preprocessing.MinMaxScaler()
data_float=data.loc[:, data.dtypes=='float64']
data_scaled=pd.DataFrame(prepro.fit_transform(data_float), index=data_float.index,columns=data_float.columns)
data_scaled

          Open      High       Low     Close  Adj Close    Volume  Time_dummy
0     0.000082  0.000103  0.000338  0.000042   0.000042  0.000060    0.000000
1     0.000072  0.000009  0.000321  0.000056   0.000056  0.000044    0.000549
2     0.000073  0.000000  0.000336  0.000005   0.000005  0.000060    0.001098
3     0.000057  0.000053  0.000354  0.000107   0.000107  0.000066    0.001647
4     0.000150  0.000163  0.000444  0.000196   0.000196  0.000053    0.002195
...        ...       ...       ...       ...        ...       ...         ...
1822  0.743920  0.735437  0.710121  0.702126   0.702126  0.084190    0.997805
1823  0.701869  0.723940  0.705021  0.695706   0.695706  0.088073    0.998353
1824  0.696215  0.715749  0.703782  0.727436   0.727436  0.073282    0.998902
1825  0.727518  0.734374  0.730958  0.738453   0.738453  0.062349    0.999451
1826  0.739715  0.726260  0.719734  0.706875   0.706875  0.068970    1.000000

[1823 rows x 7 columns]

##### This relationship is also verified by this:

In [74]:
data_duplicate=data_scaled.T.duplicated()
print(data_duplicate)

#drop tha adj close column
data_scaled.drop("Adj Close",axis=1)
data_scaled

Open          False
High          False
Low           False
Close         False
Adj Close      True
Volume        False
Time_dummy    False
dtype: bool

          Open      High       Low     Close  Adj Close    Volume  Time_dummy
0     0.000082  0.000103  0.000338  0.000042   0.000042  0.000060    0.000000
1     0.000072  0.000009  0.000321  0.000056   0.000056  0.000044    0.000549
2     0.000073  0.000000  0.000336  0.000005   0.000005  0.000060    0.001098
3     0.000057  0.000053  0.000354  0.000107   0.000107  0.000066    0.001647
4     0.000150  0.000163  0.000444  0.000196   0.000196  0.000053    0.002195
...        ...       ...       ...       ...        ...       ...         ...
1822  0.743920  0.735437  0.710121  0.702126   0.702126  0.084190    0.997805
1823  0.701869  0.723940  0.705021  0.695706   0.695706  0.088073    0.998353
1824  0.696215  0.715749  0.703782  0.727436   0.727436  0.073282    0.998902
1825  0.727518  0.734374  0.730958  0.738453   0.738453  0.062349    0.999451
1826  0.739715  0.726260  0.719734  0.706875   0.706875  0.068970    1.000000

[1823 rows x 7 columns]